  <div class="row">
    <div class="large-12 columns">
      <h1>Edit record</h1>
    </div>
  </div>

<%= render 'form' %>

<% @graffiti.photos.each do |photo| %>
  <%= form_for([@graffiti, photo]) do |g| %>
  <div class="row">
    <div class="large-4 medium-4 columns">
      <%= g.label :link %>
      <%= g.text_field :link, size: 35 %>
    </div>
    <div class="large-8 medium-8 columns">
      <%= g.submit('Update', class: 'tiny radius button') %>
      <%= link_to 'Delete', [photo.graffiti, photo],
                   method: :delete,
                   data: { confirm: 'Are you sure?' },
                   class: 'tiny radius button' %>
    </div>
  </div>
  <% end %>
<% end %>


  <%= form_for([@graffiti, @graffiti.photos.build], html: {:multipart => true}) do |h| %>

<% if @graffiti.errors.any? %>
<div id=”error_explanation”>
<h2><%= pluralize(@graffiti.errors.count, “error”) %> prohibited this photo from being saved:</h2>

<ul>
<% @graffiti.errors.full_messages.each do |msg| %>
<li><%= msg %></li>
<% end %>
</ul>
</div>
<% end %>

<%= file_field_tag :photo %>
<%= h.submit('Add', clas: 'tiny radius button') %>

<!--
  <div class="row">
    <div class="large-4 medium-4 columns">
      <%= h.label :link %>
      <%= h.text_field :link, size: 35 %>
    </div>
    <div class="large-8 medium-8 columns">
      <%= h.submit('Add', class: 'tiny radius button') %>
    </div>
  </div>
-->
  <% end %>

  <div class="row">
    <div class="large-12 columns">
      <%= link_to 'Back to index', graffiti_index_path, class: 'small radius button' %>
    </div>
  </div>
