<!-- <%= months = [ '', 'January', 'February', 'March', 'April', 'May', 'June','July','August','September','October','November','December' ] %> -->

  <div class="row">
    <div class="large-12 columns">
      <ul class="large-block-grid-2">
        <li><% @graffiti.photos.each do |photo| %>
          <img src="<%= photo.link %>">
          <% end %></li>
        <li>
          <strong>Name:</strong>
          <%= @graffiti.surname %>, <%= @graffiti.forenames %>
        <br />
          <strong>Rank:</strong>
          <%= @graffiti.rank %>
        <br />
          <strong>Number:</strong>
          <%= @graffiti.soldier_number %>
        <br />
          <strong>DOB:</strong>
          <%= @graffiti.dob.to_formatted_s(:long) if @graffiti.dob.present? %>
        <br />
          <strong>Location:</strong>
          <%= @graffiti.location %>
        <br />
          <strong>Date of graffiti:</strong>
          <%= @graffiti.graffiti_dayinmonth
          # array lookup fails if month is blank
          if ( @graffiti.graffiti_month.present? )
          then
            months.fetch(@graffiti.graffiti_month, "")
          end
          @graffiti.graffiti_year %>
        <br />
          <strong>Survived war:</strong>
          <%= @graffiti.survived_war %>
        <br />
          <strong>Notes:</strong>
          <%= @graffiti.notes %>
        </li>
      </ul>
    </div>
  </div>

  <div class="row">
    <div class="large-12 columns">
    <strong>Want more info?</strong> Do you have anything you can add? Email <a href="mailto:Matt.leonard@durandgroup.org.uk">thesecretary@durandgroup.org.uk</a>
    </div>
  </div>

  <div class="row">
    <div class="large-12 columns">
      <%= link_to 'Back to index', graffiti_index_path, class: 'small radius button' %>
    </div>
  </div>

